[package]
name = "sort-colors"
authors.workspace = true
description.workspace = true
edition.workspace = true
license.workspace = true
version.workspace = true

[dependencies]
test-case.workspace = true
