[package]
name = "merge-k-sorted-linked-lists"
authors.workspace = true
description.workspace = true
edition.workspace = true
license.workspace = true
version.workspace = true

[dependencies]
design-linked-list = { path = "../design-linked-list/" }
